<header class="header">
  <img src="/assets/logo_p6.png" alt="logo" class="logo" />
  <nav>
    <a class="logout" href="#" (click)="logout()">Se déconnecter</a>
    <a routerLink="/dashboard">Articles</a>
    <a routerLink="/themes">Thèmes</a>
    <a class="profile-icon" routerLink="/profile">
      <img src="/assets/profile-placeholder.png" alt="Profil" />
    </a>
  </nav>
</header>

<div class="topics-container">
  <div class="topics-grid">
    <div class="topic-card" *ngFor="let topic of topics">
      <h3>{{ topic.name }}</h3>
      <p>Description : {{ topic.description }}</p>
      <button
        [ngClass]="{ subscribed: topic.subscribed }"
        [disabled]="topic.subscribed"
        (click)="subscribe(topic)"
      >
        {{ topic.subscribed ? 'Déjà abonné' : "S'abonner" }}
      </button>
    </div>
  </div>
</div> 