<app-header></app-header>

<main class="dashboard-main">
  <button class="desktop-back-btn" routerLink="/dashboard">&#8592;</button>
  <div class="mobile-header-row">
    <button class="mobile-back-btn" routerLink="/dashboard">&#8592;</button>
  </div>
  <h2 class="title">Créer un nouvel article</h2>
  <form class="create-article-form" [formGroup]="articleForm" (ngSubmit)="onSubmit()">
    <select formControlName="topicId">
      <option value="" disabled selected>Sélectionner un thème</option>
      <option *ngFor="let topic of topics" [value]="topic.id">{{ topic.name }}</option>
    </select>
    <input type="text" placeholder="Titre de l'article" formControlName="title" />
    <textarea placeholder="Contenu de l'article" formControlName="content"></textarea>
    <button type="submit" class="submit-btn" [disabled]="articleForm.invalid">Créer</button>
  </form>
</main>