<app-header></app-header>

<main class="dashboard-main">
  <h2 class="title">Profil utilisateur</h2>
  <form class="profile-form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Username" formControlName="username" />
    <input type="email" placeholder="email@email.fr" formControlName="email" />
    <input type="password" placeholder="Mot de passe" formControlName="password" />
    <button class="save-btn" [disabled]="profileForm.invalid">Sauvegarder</button>
  </form>
  <hr />
  <h2 style="text-align:center; margin-bottom: 1.5rem;">Abonnements</h2>

  <div *ngIf="subscribedTopics.length > 0" class="topics-container">
    <div class="topics-grid">
      <div class="topic-card" *ngFor="let topic of subscribedTopics">
        <h3>{{ topic.name }}</h3>
        <p>Description : {{ topic.description }}</p>
        <button (click)="unsubscribe(topic)">Se désabonner</button>
      </div>
    </div>
  </div>

  <div *ngIf="showSuccessPopup" class="popup-success">
    <div class="popup-content">
      <p>Profil mis à jour avec succès !</p>
      <button (click)="closeSuccessPopup()">Fermer</button>
    </div>
  </div>
</main> 