.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.home-logo {
  width: 412px;
  height: 238px; 
  margin-bottom: 3rem;
}

.home-buttons {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  
  button {
  background: #fff;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 0.7rem 2.2rem;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, border 0.2s;
  font-family: 'Inter', Arial, sans-serif;
  }
  button:hover {
    background: #6c63ff;
    color: #fff;
    border-color: #6c63ff;
  }
}

@media (max-width: 600px) {
  .home-logo {
    width: 225px;
    height: 130px; 
    margin-bottom: 2.2rem;
  }
  .home-buttons {
    flex-direction: column;
    gap: 1.2rem;
    width: 100%;
    align-items: center;
  }
  .home-buttons button {
    width: 156px;
    padding: 0.9rem 0;
    font-size: 16px;
  }
}
